In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve

In [2]:
df = pd.read_csv("classification.csv")
df

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [3]:
TP = df[(df["pred"] == 1) & (df["true"] == 1)].count()[0]
FN = df[(df["pred"] == 0) & (df["true"] == 0)].count()[0]
FP = df[(df["pred"] == 1) & (df["true"] == 0)].count()[0]
TN = df[(df["pred"] == 0) & (df["true"] == 1)].count()[0]
print(TP, FP, FN, TN)

43 34 64 59

In [4]:
accuracy = (TP+TN)/(TP+TN+FP+FN)
precision = TP/(TP+FP)
recall = TP/(TP+FN)
f1 = 2*TP/(2*TP+FP+FN)
print(accuracy, precision, recall, f1)

0.51 0.5584415584415584 0.40186915887850466 0.4673913043478261

In [5]:
df = pd.read_csv("scores.csv")
df

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [6]:
scores = {}
for x in df.columns[1:]:
    scores[x] = roc_auc_score(df['true'], df[x])
print(scores)

{'score_logreg': 0.719187675070028, 'score_svm': 0.7086834733893557, 'score_knn': 0.6351540616246498, 'score_tree': 0.6919267707082833}

In [7]:
scores = {}
for x in df.columns[1:]:
    curve = precision_recall_curve(df['true'], df[x])
    df_new = pd.DataFrame({'precision': curve[0], 'recall': curve[1]})
    scores[x] = df_new[df_new['recall'] >= 0.7]['precision'].max()
print(scores)

{'score_logreg': 0.6302521008403361, 'score_svm': 0.6228070175438597, 'score_knn': 0.6065573770491803, 'score_tree': 0.6517857142857143}

In [10]:
max_score_type = max(scores, key=scores.get)
print(max_score_type)
print(scores[max_score_type])

score_tree
0.6517857142857143