In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe = pd.read_csv("titanic.csv", index_col = "PassengerId")
dataframe.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = dataframe[['Survived', 'Pclass', 'Fare', 'Age', 'Sex']].dropna()
df.head()

             Survived  Pclass     Fare   Age     Sex
PassengerId
1                   0       3   7.2500  22.0    male
2                   1       1  71.2833  38.0  female
3                   1       3   7.9250  26.0  female
4                   1       1  53.1000  35.0  female
5                   0       3   8.0500  35.0    male

In [4]:
df_goal = df[['Survived']]
df_goal.head()

             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0

In [5]:
df = df.drop('Survived', axis = 1)
df['Sex'].replace(['male', 'female'], [0, 1], inplace = True)
df.head()

             Pclass     Fare   Age  Sex
PassengerId
1                 3   7.2500  22.0    0
2                 1  71.2833  38.0    1
3                 3   7.9250  26.0    1
4                 1  53.1000  35.0    1
5                 3   8.0500  35.0    0

In [6]:
from sklearn.tree import DecisionTreeClassifier

In [7]:
clf = DecisionTreeClassifier(random_state = 241)
clf.fit(df, df_goal)

DecisionTreeClassifier(random_state=241)

In [8]:
importances = clf.feature_importances_
display(importances)

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

In [9]:
max_indexes = np.argpartition(importances, -2)[-2:]
print(df.columns[max_indexes[0]])
print(df.columns[max_indexes[1]])

Fare
Sex